/*放全站html標籤css設定*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{ 
  color:#fff;
  font-weight: 100;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

//依據BS重設h1~h5
h2{
  font-size: $h3-font-size; //28px
  line-height: 40px;
  @include mobile(){
    font-size: $h4-font-size; //24px
    line-height: 35px;
  }  
}

h3{
  font-size: $h4-font-size; //24px
  line-height: 35px;
  
}
h4{
  font-size: $h5-font-size; //20px
  line-height: 29px;
  
}

h5{
  font-size: $h6-font-size; //16px
  line-height: 24px;
}

/*
header{
  
}

a{


}

h1{
    
}
*/