//英文字型
.fontAzeret{
    font-family: 'Azeret Mono';
}

//navbar
h1 img{
    width: 174px;
    vertical-align: middle;
}

.navbar{
    padding:24px 70px;
    .nav-item a{
        line-height:26px;
        span{
          margin-right: 6px;  
        }
    }

    @include mobile(){
        padding: 24px 12px;
        h1 {
            img {display: none; }
            a{
                width: 24px;
                height: 24px;
                background-image: url(../images/logo2.svg);
                background-size: cover;  
                display: block;
            }
        }
    }
}

//選單
ul.navbar-nav .nav-item{
  margin:12px auto;
}





.gradient-x-border{
    width: 100%;
    height: 4px;
    @include gradient-x($primary, $secondary, 50%, 50%);  //漸層顏色
}

.footer{
    color:#909090;
    @include mobile(){
        span{
        font-size: 12px !important;
        line-height: 14px;
        }
    }
}


