//bs漸層顏色 
//水平左到右
@mixin gradient-x($start-color: $primary, $end-color: $secondary, $start-percent: null, $end-percent: null) {

    background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);

}

@mixin gradient-x-left($start-color: $primary, $end-color: $secondary, $start-percent: null, $end-percent: null) {

    background-image: linear-gradient(to left, $start-color $start-percent, $end-color $end-percent);

}

//垂直下到上
@mixin gradient-y($start-color: $primary, $end-color: $secondary, $start-percent: null, $end-percent: null) {

    background-image: linear-gradient(to top, $start-color $start-percent, $end-color $end-percent);
    
}





@mixin mobile {
    @media (max-width:576px){
        @content;
    }
}

@mixin pad{
    @media (max-width:768px){
        @content;
    }
}

@mixin lg(){
    @media (max-width:992px){
        @content;
    }
}

// @mixin xl(){
//     @media (max-width:1140px){
//         @content;
//     }
// }

@mixin xxl(){
    @media (max-width:1440px){
        @content;
    }
}



